<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.product.ProductBrandMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.product.ProductBrandModel" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="baddress" property="baddress" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >

    id, bid, name, create_user, create_time, baddress, tel, remark
  </sql>

  <sql id="Base_where_List" >
      <where>
          <if test="bid != null" >
            bid  LIKE CONCAT('%','${bid}','%'),
          </if>
          <if test="name != null" >
            name LIKE CONCAT('%','${name}','%'),
          </if>
          <if test="createUser != null" >
            create_user = #{createUser,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null" >
            create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="baddress != null" >
            baddress LIKE CONCAT('%','${baddress}','%'),
          </if>
          <if test="tel != null" >
            tel = LIKE CONCAT('%','${tel}','%'),
          </if>
          <if test="remark != null" >
            remark = #{remark,jdbcType=VARCHAR},
          </if>
          <if test="search != null" >
            id LIKE CONCAT('%','${search}','%') OR name LIKE CONCAT('%','${search}','%')
          </if>

      </where>
    <if test="beginRow != null and pageSize != null" >
       LIMIT  #{beginRow,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </sql>

  <sql id="Base_where_List1" >
    <where>
      <if test="bid != null" >
        bid  LIKE CONCAT('%','${bid}','%'),
      </if>
      <if test="name != null" >
        name LIKE CONCAT('%','${name}','%'),
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="baddress != null" >
        baddress LIKE CONCAT('%','${baddress}','%'),
      </if>
      <if test="tel != null" >
        tel = LIKE CONCAT('%','${tel}','%'),
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="search != null" >
        id LIKE CONCAT('%','${search}','%') OR name LIKE CONCAT('%','${search}','%')
      </if>
    </where>

  </sql>

  <select id="countByExample" parameterType="com.xoa.model.product.ProductBrandModel" resultType="java.lang.Integer" >

    select count(*) from product_brand

    <include refid="Base_where_List1" />

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from product_brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xoa.model.product.ProductBrandModel" >

    insert into product_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="baddress != null" >
        baddress,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="baddress != null" >
        #{baddress,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xoa.model.product.ProductBrandModel" >

    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />

    from product_brand

    <include refid="Base_where_List" />

    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select
    <include refid="Base_Column_List" />
    from product_brand
    where id = #{id,jdbcType=INTEGER}
  </select>

  <update id="updateByPrimaryKey" parameterType="com.xoa.model.product.ProductBrandModel" >

    update product_brand
    <set >
      <if test="bid != null" >
        bid = #{bid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="baddress != null" >
        baddress = #{baddress,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>